* {
  padding: 0px;
  margin: 0px;
}

body {
  background: orange;
}

main {
  display: grid;
  grid-template-areas: "A B"
  "A B"
  "A B"
  "A C"
  "A D";
  grid-template-columns: 59vw 39vw;
  grid-template-rows: repeat(5,20vh);
}

#A {
  grid-area: A;
  background-color: black;
}

#B {
  grid-area: B;
  background-color: yellow;
}

#C {
  grid-area: C;
  background-color: blueviolet;
}

#D {
  grid-area: D;
  background-color: red;
}

